.container {
  margin-top: 100px;
  color: #bcc2d1 !important;
}
.game-container {
 display:flex;
 align-items: center;
 justify-content: center;
 color: #bcc2d1 !important;   
}
.info-box {
 /* width:200px;
 height:200px;
 background:#fff; */
 align-items: center;
}
